{:itonami.blueprint/id "cloud-itonami-isic-6430"
 :itonami.blueprint/name "Trusts, funds and similar financial entities"
 :itonami.blueprint/isic-rev5 "6430"
 :itonami.blueprint/domain :finance/trust-fund-entity
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:financial-inclusion :data-sovereignty :transparency]
 :itonami.blueprint/governor :trust-fund-governor
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :securities]
 :itonami.blueprint/optional-technologies [:corporate-intelligence]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/robotics true
 :itonami.blueprint/maturity :implemented
 :itonami.blueprint/integrates-with ["cloud-itonami-isic-6499" "cloud-itonami-isic-6630"]}
